<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${storageArea.areaId == null ? 'Nova Área de Armazenamento' : 'Editar Área de Armazenamento'}">
        Área de Armazenamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body class="d-flex flex-column min-vh-100 bg-dark text-light" id="page-body">
    <div th:replace="~{fragments :: navbar}"></div>

    <div class="container mt-5 flex-grow-1">
        <h1 class="text-center mb-4"
            th:text="${storageArea.areaId == null ? 'Nova Área de Armazenamento' : 'Editar Área de Armazenamento'}">
            Título
            do
            Formulário</h1>

        <a th:href="@{/storage-area}" class="btn btn-primary mb-4">Página Inicial</a>

        <form th:action="@{/storage-area}" th:object="${storageArea}" method="post" class="p-4 border rounded"
            id="form-body">
            <input type="hidden" th:field="*{areaId}" />

            <div class="mb-3">
                <label for="name" class="form-label">Nome:</label>
                <input type="text" id="name" th:field="*{name}" class="form-control" />
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Descrição:</label>
                <input type="text" id="description" th:field="*{description}" class="form-control" />
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></div>
            </div>

            <div class="mb-3">
                <label for="maxCapacity" class="form-label">Capacidade Máxima:</label>
                <input type="number" id="maxCapacity" th:field="*{maxCapacity}" class="form-control" />
                <div th:if="${#fields.hasErrors('maxCapacity')}" th:errors="*{maxCapacity}" class="text-danger"></div>
            </div>

            <div class="mb-3" th:if="${storageArea.areaId != null}">
                <label for="storageType.storageTypeId" class="form-label">ID do Tipo de Armazenamento:</label>
                <input type="hidden" id="storageTypeId" th:field="*{storageType.storageTypeId}" class="form-control" />
                <a th:href="@{/storage-type/edit/{id}(id=${storageArea.storageType.storageTypeId})}"
                    th:text="${storageArea.storageType.storageTypeId}" class="d-block text-decoration-none">
                </a>
            </div>

            <div class="mb-3" th:if="${storageArea.areaId == null}">
                <label for="storageTypeId" class="form-label">ID do Tipo de Armazenamento:</label>
                <input type="text" id="storageTypeId" th:field="*{storageType.storageTypeId}" class="form-control" />
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Localização:</label>
                <input type="text" id="location" th:field="*{location}" class="form-control" />
                <div th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="text-danger"></div>
            </div>

            <button type="submit" class="btn btn-success">Salvar</button>
        </form>
    </div>

    <div th:replace="~{fragments :: footer}"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script th:src="@{/js/theme-toggle.js}"></script>
</body>

</html>