<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">Inventory Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-decoration-none" th:href="@{/stock}">Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-decoration-none" th:href="@{/stock-movement}">Stock Movement</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-decoration-none" th:href="@{/storage-area}">Storage Areas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-decoration-none" th:href="@{/storage-type}">Storage Types</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-decoration-none" th:href="@{/product}">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-decoration-none" th:href="@{/technical-sheet}">Technical
                            Sheets</a>
                    </li>
                </ul>
                <button class="btn btn-outline-light" id="theme-toggle">Mudar Tema</button>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <footer class="mt-5 p-4 bg-primary text-center text-light d-flex justify-content-center align-items-center">
        <p class="mb-0 text-center">
            &copy; [[${#dates.format(#dates.createNow(), 'yyyy')}]] Inventory Manager. Todos os direitos reservados.
        </p>
    </footer>
</div>